/*General*/

	/* http://meyerweb.com/eric/tools/css/reset/
   	v2.0 | 20110126
   	License: none (public domain)*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* End of reset.css */

	/*animation code from https://blog.adam-marsden.co.uk/minimal-page-transitions-with-jquery-css-d97f692d5292 */


	body {
		margin:0 ! important;
		padding:0 ! important;
	}

	.container-fluid {
		font-family: 'Open Sans', sans-serif;
		margin:0 ! important;
		padding:0 ! important;
	 	width: 100% ! important;
	}

	.rest {
		height: 100%;
		width: 100%;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	a, a:link, a:visited {
		text-decoration: none;
		color: black;
	}

	.sidebar-item a:hover {
		text-decoration: none;
		color: white;
	}

/*animation code from https://blog.adam-marsden.co.uk/minimal-page-transitions-with-jquery-css-d97f692d5292 */
/* Keyframes */




	/*[aos="fade-up"] {
		opacity: 0;
		transition-property: opacity;
	}

	[aos="fade-up"].aos-animate {
  		opacity: 1;
	}*/


/*Navbar*/
	#nav-bar {
		height: 75px;
		/* rose garden */
		background-color: rgb(238, 31, 96);
	}

/*Sidebar*/

	/* Hamburger Icon */

		/* Code inspired by W3Schools */

		#sidebar-button {
			margin-top: 30px;
			margin-left: 20px;
			z-index: 100;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
		}

		.bar1, .bar2, .bar3 {
			width: 30px;
			height: 3px;
			background-color: white;
			margin-top: 5px;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
		}

		.bar1 {
			margin-top: 10px;
		}

		.change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 6px);
			-moz-transform: rotate(-45deg) translate(-9px, 6px);
    		transform: rotate(-45deg) translate(-9px, 6px);
		}

		.change .bar2 {
			opacity: 0;
		}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-5px, -3px);
		    -moz-transform: rotate(45deg) translate(-5px, -3px);
		    transform: rotate(45deg) translate(-5px, -3px);
		}

	.sidebar-container {
		position: fixed;
		float: left;
		width: 200px;
		height: 100%;
		padding-top: 30px;
		/* rose garden */
		background-color: rgb(238, 31, 96);
		-webkit-transform: translateX(-200px);
	    -moz-transform: translateX(-200px);
	    transform: translateX(-200px);
	    transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	#title {
		color: white;
		font-size: 24px;
		margin-top: -35px;
		width: 300px;
		height: 50px;
		position: relative;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	.text {
		position: absolute;
		left: 50%;
	    top: 50%;
	    -webkit-transform: translateX(-50%) translatey(-50%);
	    -moz-transform: translateX(-50%) translatey(-50%);
	    transform: translateX(-50%) translatey(-50%);
	}

	.sidebar-item {
		list-style: none;
		font-size: 18px;
		color: white;
		padding-top: 20px;
		padding-bottom: 15px;
		padding-left: 25px;
		padding-right: 20px;
		/* rose garden */
		background-color: rgb(238, 31, 96);
	}

/*Spotlight*/


	#spotlight-container {
		position: relative;
		text-align: center;
	}

	#spotlight-image {
		height: 300px;
		width: 100%;
		filter: brightness(70%);
	}

	#spotlight-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#spotlight-text {
		position: absolute;
		color: white;
		font-size: 35px;
		width: 300px;
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}

/* Events */

	.event-container {
		position: relative;
	}

	.event-image {
		height: 265px;
		width: 100%;
	}

	.event-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.event-info {
		position: absolute;
		width: 100%;
		height: 85px;
		bottom: 0;
		opacity: 0.85;
		color: white;
	}

	.event-title {
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 20px;
		font-weight: 700;
	}

	.event-location {
		position: absolute;
		bottom: 15px;
		left: 15px;
		font-size: 14px;
	}

	.event-tix {
		position: absolute;
		top: 21px;
		right: 15px;
		font-size: 13px;
	}

	.event-interest {
		position: absolute;
		bottom: 16px;
		right: 15px;
		font-size: 13px;
	}

/* Bottom */

	#bottom-info {
		background-color: rgb(238, 31, 96);
		color: white;
	}

	#bottom-text {
		font-size: 22px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	#bottom-email {
		text-align: center;
		padding-bottom: 60px;
		font-size: 16px;
	}


/* jQuery Manipulation Classes */
	.no-scroll {
		overflow: hidden;
	}

	.wrapper-active, .button-active {
		-webkit-transform: translateX(200px);
		-moz-transform: translateX(200px);
		transform: translateX(200px);
	}

	.sidebar-active {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
	}

/* AngularJS Gradient Classes */
/* Angular code taken from https://stackoverflow.com/questions/12179455/how-to-assign-alternate-class-to-rows-in-angular-js */
	.color0 {
		background: linear-gradient(rgb(238, 31, 96), rgb(237, 78, 51));
	}

	.color1 {
		background: linear-gradient(rgb(0, 176, 218), rgb(0, 178, 165));
	}

	.color2 {
		background: linear-gradient(rgb(207, 221, 69), rgb(157, 173, 51));
	}

/* ------------------------------------------------- */

/* Media Queries */
	@media only screen and (min-width: 750px) {
	    #spotlight-image {
			height: 450px;
		}

		.event-image {
			height: 450px;
		}

		.event-info {
			height: 120px;
		}

		.event-title {
			top: 20px;
			left: 20px;
			font-size: 34px;
		}

		.event-location {
			position: absolute;
			bottom: 20px;
			left: 20px;
			font-size: 24px;
		}

		.event-tix {
			position: absolute;
			top: 35px;
			right: 20px;
			font-size: 20px;
		}

		.event-interest {
			position: absolute;
			bottom: 20px;
			right: 20px;
			font-size: 20px;
		}

		#bottom-text {
			font-size: 28px;
			padding-top: 50px;

		}

		#bottom-email {
			font-size: 20px;
			padding-bottom: 70px;
		}
	}

	@media only screen and (min-width: 1000px) {
	    #spotlight-image {
			height: 600px;
		}

		#spotlight-text {
			font-size: 55px;
			width: 350px;
		}

		.sidebar-item {
			font-size: 20px;
			padding-bottom: 25px;
		}

		.event-image {
			height: 600px;
		}

		.event-info {
			height: 150px;
		}

		.event-title {
			top: 25px;
			left: 25px;
			font-size: 40px;
		}

		.event-location {
			position: absolute;
			bottom: 25px;
			left: 25px;
			font-size: 30px;
		}

		.event-tix {
			position: absolute;
			top: 42px;
			right: 25px;
			font-size: 25px;

		}

		.event-interest {
			position: absolute;
			bottom: 25px;
			right: 25px;
			font-size: 25px;
		}

		#bottom-text {
			font-size: 32px;
			padding-top: 60px;
		}

		#bottom-email {
			font-size: 24px;
			padding-bottom: 80px;
		}
	}
