{% extends 'base.html' %}

{% block content %}
	<div class="post">
    	<h1>{{ event.Title }}</h1>
    	<h3>{{ event.Time }}</h3>
    	<h3>{{ event.Location }}</h3>
    	<h3>Held by {{ event.Organizer }}</h3>
    	<h3>${{ event.Cost }} points</h3>
    	<h3>{{ event.Max_order }} tickets available</h3>
    	<!-- TODO  if Max_order == 0 ... no button to signup -->
    	{% if event.orders.count != None %}
			<h3>{{ event.orders.count }} people ordered the tickets</h3>
		{% else %}
			<h3>Be the first one to order the ticket!</h3>
		{% endif %}

        <p>{{event.Description}}</p>

    </div>
	{% if user.is_authenticated %}
	<!-- TODO  add if statements to check if the points are enough to order -->
	<!-- TODO  each user can only order once -->
	<!-- TODO  Signup in waitlist -->
	{% if event.Max_order != 0 %}
		<a href="{% url 'event_order' pk=event.pk %}">Order</a>
	{% else %}
		<h3>No tickets left :'(</h3>
		<h3>Signup in the waitlist</h3>
	{% endif %}

	<a href="{% url 'event_checkin' pk=event.pk %}">Checkin</a>

	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Upload</button>
	  </form>
	{% endif %}

	{% for comment in event.comments.all %}
	  <div class="comment">
	      <div class="date">{{ comment.created_date }}</div>
	      <strong>{{ comment.user }}</strong>
	      <p>{{ comment.text|linebreaks }}</p>
	      <img src="{{ comment.photo.url }}" alt="{{ comment.photo.name }}" /> <!-- Images -->
	  </div>
	{% empty %}
	  <p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}