{% extends 'base.html' %}

{% block content %}
	<h2>Profile:</h2>
<!-- 	https://stackoverflow.com/questions/4320679/django-display-choice-value -->
    <h3>Year: {{ user.Profile.get_year_display }}</h3>
    <h3>Major: {{ user.Profile.major }}</h3>
    <h3>Age: {{ user.Profile.age }}</h3>
    <h3>Points: {{ user.Profile.points }}</h3>
    <h2>My Events</h2>
    {% with user.Profile.favorites.all as favorites %}
		{% for event in events %}
	        <div class="post" style="margin: 30px">
	            {% if event.Picture.url %}
	                <img src="{{ event.Picture.url }}" alt="{{ event.Title }}" style="height: 100px"/>
	            {% endif %}
	            <h1><a href="{% url 'event_detail' pk=event.pk %}">{{ event.Title }}</a></h1>
	            <h3>{{ event.Time }}</h3>
	            {% if event.orders.count > 0 %}
	                <h3>{{ event.orders.count }} people ordered the tickets</h3>
	            {% else %}
	                <h3>Be the first one to order the ticket!</h3>
	            {% endif %}
	            {% if event in favorites %}
	                <i class="fas fa-heart fa-3x" onclick="f(event)" data-href="{% url 'event_favorite' pk=event.pk %}"></i>
	            {% else %}
	                <i class="far fa-heart fa-3x" onclick="f(event)" data-href="{% url 'event_favorite' pk=event.pk %}"></i>
	            {% endif %}
	        </div>
	    {% empty %}
			<li>Sorry, no events in this list.</li>
	    {% endfor %}
    {% endwith %}

{% endblock%}