<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>artistical_test</title>
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }

      li {
          display: inline;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
      
  <script type="text/javascript">
        function f(e){
          var t = $(".fa-heart")[0]
          var likeUrl = t.dataset.href

          e.preventDefault()
          console.log(likeUrl)

          $.ajax({
              url: likeUrl,
              method: "GET",
              data: {},
              success: function(data){
                if (t.className == "fas fa-heart fa-3x"){
                    t.className = "far fa-heart fa-3x"
                } else {
                    console.log(t.className)
                    t.className = "fas fa-heart fa-3x"
                }
              }, error: function(error){
                console.log(error)
                console.log("error")
              }
            })
        }
  </script>
  </head>
  <body>
  	{% if user.is_authenticated %}
	    <h2 class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small><small>(<a href="{% url 'profile_update' pk=user.profile.id %}">Edit Profile</a>)</small></h2>

  	{% else %}
  	    <a href="{% url 'login' %}" class="top-menu">Login</a>
  	    <a href="{% url 'profile_create' %}" class="top-menu">Sign Up</a>
  	    
  	{% endif %}
    {% block nav %}
      <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'user'%}">Profile</a></li>
        {% endif %}
          
      </ul>
    {% endblock %}


    {% block content %}
    {% endblock %}
  </body>
</html>