
{% extends 'frontend/base.html' %}

{% block content %}


<div id="page-title">About</div>
<div id="description">
	The Arts Engagement Platform was first tested back in December, where a team of five Masters of Engineering students created an interactive virtual arts experience for 130 UC Berkeley students visiting internationally recognized artist Isaac Julien's video installation, Playtime, at the Fort Mason Center for Arts + Culture and San Francisco Art Institute. The platform was created with the aim to weave together arts communities across all sectors of campus, including those that may be unconventionally affiliated with the arts!
</div>



{% endblock %}
