
{% extends 'frontend/base.html' %}

{% block content %}


<div id="page-title">About</div>
<div id="description">
	This app was created to provide you, a UC Berkeley student, with free or subsidized access to creative experiences on campus and throughout the Bay Area during your academic career. You can use this app to claim tickets to arts and design experiences from venues like SFMOMA, Berkeley Reparatory Theater, the Oakland Museum of California and more. You can also learn about experiences that are always free to Berkeley students with their student ID at venues and programs on campus. This app was designed and developed by UC Berkeley Masters of Engineering students Luna Izpisua-Rodriguez, Kyra Cheng, Reina Pan, Alexandre Vincent, and Jiahe Zhou as part of the Fung Institute for Engineering Leadership Arts Access Capstone project organized and advised by Berkeley Arts+ Design and the Office of the Chief Technology Officer.<br>
	<br>
	<h1 style="font-weight: bold">About this app</h1>
	<br>
	In order to promote integrating creative experiences into the daily lives of all UC Berkeley students, Berkeley Arts + Design has collaborated with campus venues and regional Bay Area arts organizations to develop an arts access program that provides free or subsidized access to arts and design experiences. To enable access to these opportunities, Berkeley Arts + Design has launched the first ever campus-wide arts access app, which will feature offers that UC Berkeley students can claim and use.<br>
	<br>
	Our goal for this program is that every student who attends UC Berkeley is able to explore their creative interests by having access to a wide range of experiences on campus and throughout the Bay Area. Future iterations of this platform will include the ability to show interest in events that may not be funded in order to secure funding; earning points for attending, sharing, checking in at locations that can be used to purchase tickets to unfunded experiences, fund transportation to experiences, or share with friends; and a game that encourages participation among active students.<br><br>
	<h1 style="font-weight: bold">About Berkeley Arts + Design</h1>
	<br>
	Established in 2015, the Arts + Design Initiative (Berkeley Arts + Design or A+D) is a campus-wide initiative that serves departments, schools, colleges, presenters, and student clubs in the visual arts, performing arts, literature, media and film, and design. Berkeley Arts + Design features, fortifies, and mobilizes existing excellence in the arts and design at Berkeley, while fostering dynamic collaboration, innovation, and public access across all arts and design fields, on campus and in public life. <br>
	<br>
	Visit artsdesign.berkeley.edu/artsaccess to learn more about this exciting project.<br>
</div>



{% endblock %}
