

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Berkeley Arts + Design</title>
	{% load static %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117669037-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-117669037-1');
	</script>


	<!-- Importing jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script src="{% static "js/fontawesome-all.min.js" %}"></script>

    <!-- Importing Angular -->
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

	<!-- Importing Open Sans -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

	<!-- Importing Bootstrap -->

	<!-- Bootstrap uses HTML5 -->
	<meta charset="utf-8">

	<!-- Bootstrap is mobile-first -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<!-- won't need this if you only use CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Linking CSS -->
	<link rel="stylesheet" href="{% static "css/home_style.css" %}">
	<link rel="stylesheet" href="{% static "css/event_style.css" %}">
	<link rel="stylesheet" href="{% static "css/text_page.css" %}">

</head>
<body>

    <!-- Page Container -->
	<div id="page-container" class="container-fluid">

		<!-- Nav Bar -->
		<div id="nav-bar" class="container-fluid">
			
			<!-- Sidebar Hamburger Icon (code inspired by W3Schools) -->
		    <div id="sidebar-button" onclick="myFunction(this)">
		    	<div class="bar1"></div>
		    	<div class="bar2"></div>
		    	<div class="bar3"></div>
		    </div>

		    <!-- Sidebar -->
		    <nav class="sidebar-container">
		        <ul>
					<li class="sidebar-item"><a href="{% url 'free' %}">Free w/ Cal ID</a></li>
		        	<li class="sidebar-item"><a href="{% url 'home' %}">Home</a></li>
		            <li class="sidebar-item"><a href="{% url 'about' %}">About</a></li>
		            <li class="sidebar-item"><a href="{% url 'user' %}">My Events</a></li>
		            {% if user.is_authenticated %}
		            	<li class="sidebar-item"><a href="{% url 'cas_ng_logout' %}">Sign Out</a></li>
		            {% else %}
		            	<li class="sidebar-item"><a href="{% url 'cas_ng_login' %}">CalNet Login</a></li>
		            {% endif %}
		        </ul>
		    </nav>

		    <!-- Text -->
		    <div id="title" class="container">
		    	<img alt="Berkeley A+D" style="width: 80%;" class="text" src="{% static "images/logo.svg" %}">
		    </div>


		</div>

		<div class="rest">

			

			<!-- Events -->
			{% block content %}
			{% endblock %}

			<!-- Bottom -->
			<div id="bottom-info">
				<div id="bottom-text">
					Berkeley Arts + Design
				</div>
				<div id="bottom-email">
					artsdesign.berkeley.edu
				</div>
			</div>

		</div>

	</div>


	<!-- Linking JS -->
	<script src="{% static "js/home_script.js" %}"></script>
	<script src="{% static "js/event_script.js" %}"></script>
	<script src="{% static "js/free_script.js" %}"></script>
	<!-- <script src="assets/aos-master/dist/aos.js"></script> -->

</body>
</html>
