
{% extends 'frontend/base.html' %}

{% block content %}

	<div id="page-title">Check-in</div>
	{% if order %}
	<div id="description">
		Check-in Check-in Check-in
	</div>
	<form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button id="back-button" type="submit">Checkin</button>
	</form>
	{% else %}
	<div id="description">
		You haven't claimed the ticket yet! Go back to the event page and click on "claim tickets".
	</div>
	{% endif %}

<div id="back-button"><a href="javascript:history.go(-1)">< Back</a></div>

{% endblock %}
