
{% extends 'frontend/base.html' %}

{% block content %}

	<div id="page-title">Check-in</div>
	{% if order %}
	<div id="description">
		Check-in Check-in Check-in
	</div>
	<div id="back-button">
		<form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button id="back-button" type="submit">Checkin</button>
		</form>
	</div>
	{% else %}
	<div id="description">
		You have not claimed your tickets for this event. Return to the event page and click "Claim Tickets".
	</div>
	{% endif %}
	<div id="back-button"><a href="javascript:history.go(-1)">< Back</a></div>

{% endblock %}
