
{% extends 'frontend/base.html' %}

{% block content %}

	<div id="page-title">Claim Your Tickets</div>
	<div id="description">
		Click on "Reserve Your Ticket" to proceed. You will have seven days to pick up your ticket.
	</div>
<!-- if reserved, show text e.g. "you've reserved the ticket! Follow the instrctions above to get it" -->
<!-- else, show "reserve your ticket" button -->

	<div id="back-button">
		<form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit">Reserve your Ticket</button>
		</form>
	</div>

<div id="back-button"><a href="{% url 'event_detail' pk=pk %}">< Back</a></div>

{% endblock %}
