
{% extends 'frontend/base.html' %}

{% block content %}

<div id="page-title">How to Claim Your Tickets</div>
<div id="description">
	Spicy jalapeno bacon ipsum dolor amet alcatra tenderloin sirloin, turkey leberkas burgdoggen buffalo kevin cow biltong porchetta. Pancetta prosciutto venison jowl meatball flank. Tongue shoulder pancetta, drumstick pork filet mignon short loin brisket capicola ham hock. Ribeye leberkas pork loin, sausage buffalo brisket ball tip boudin fatback kielbasa. Drumstick beef ribs frankfurter, hamburger strip steak kielbasa doner brisket meatball chuck.
</div>
<div id="back-button"><a href="javascript:history.go(-1)">< Back</a></div>

{% endblock %}