
{% extends 'frontend/base.html' %}

{% block content %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

{% with user.Profile.favorites.all as favorites %}
			<!-- Event -->
<div id="event">

	<div id="event-image">
		<img src="{{ event.Picture.url }}">
		<div id="event-title">{{ event.Title }}</div>
		<div id="event-location">{{ event.Time }}</div>
		<div id="event-location">{{ event.Location }}</div>
		<div id="event-location">{{ event.OfferType }}</div>
	</div>

	<div id="button-container">
		<a href="{% url 'claim' pk=event.pk %}">
			<div id="claim" class="button">
			{% if event.Max_order != 0 %}
				<i class="fas fa-ticket-alt"></i>  Claim Tickets
			{% else %}
				<h3>No tickets left :'(</h3>
				<h3>Signup in the waitlist</h3>
			{% endif %}
			</div>
		</a>
		<a >
			<div class="heart" data-href="{% url 'event_favorite' pk=event.pk %}" onclick="heart(this)">
			{% if event in favorites %}
	            <i class="fas fa-heart" id="heart"></i>
	        {% else %}
	            <i class="far fa-heart" id="heart"></i>
	        {% endif %}
	          Interest</div>
    	</a>

		<a href="{% url 'event_checkin' pk=event.pk %}">
			<div class="button"><i class="far fa-check-circle"></i>  Check In</div>
		</a>
	</div>

	<div id="event-descrip">
		{{event.Description|linebreaks }}
	</div>
	<div id="event-website">Visit website <a href="{{ event.Website }}" target="_blank">here</a>.</div>
	<div id="back-button"><a href="{% url 'home' %}">< Back</a></div>
</div>

{% endwith %}

{% endblock %}
