
{% extends 'frontend/base.html' %}

{% block content %}
<div class="rest">
{% with user.profile.favorites.all as favorites %}
			<!-- Event -->			
<div id="event">
	<div id="event-title">{{ event.Title }}</div>
	<div id="event-image">
		<img src="{{ event.Picture.url }}">
		<div id="event-location">{{ event.Location }}</div>
	</div>
	<div id="button-container">
		<div class="button">
		{% if event.Max_order != 0 %}
			<a href="{% url 'event_order' pk=event.pk %}">Claim Tickets</a>
		{% else %}
			<h3>No tickets left :'(</h3>
			<h3>Signup in the waitlist</h3>
		{% endif %}
		</div>
		{% if event in favorites %}
            <i class="fas fa-heart" id="#{{event.pk}}" onclick="f(event)" data-href="{% url 'event_favorite' pk=event.pk %}"></i>
        {% else %}
            <i class="far fa-heart" id="#{{event.pk}}" onclick="f(event)" data-href="{% url 'event_favorite' pk=event.pk %}"></i>
        {% endif %}
		<div class="button"><a href="{% url 'event_checkin' pk=event.pk %}">Check In</a></div>
	</div>
	<div id="event-descrip">
		{{event.Description}}
	</div>
	<div id="event-website">Visit website <a href="{{ event.Website }}" target="_blank">here</a>.</div>
	<div id="back-button"><a href="{% url 'home' %}">< Back</a></div>
</div>
</div>
{% endwith %}
{% endblock %}