
{% extends 'frontend/base.html' %}

{% block content %}

<div id="page-title">Reservation Success</div>
<div id="description">
	Event name: {{ event.Title }}<br>
	Order time: {{ time }}<br>
	<br>
	You have claimed a ticket for this experience. Please pick up your ticket at the Dwinelle Annex on the 2nd Floor at UC Berkeley, beginning on/after April 25th. Pick up days and times are below. Bring this confirmation to claim your ticket. You will receive a code to enter in the field below when you pick up your ticket. <br> 
	<br>
	Monday - Friday, 10am-5pm<br>
	Dwinelle Annex <br>
	Floor 2, Room 209 or 212<br>
	<br>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.3926186843202!2d-122.26175397075747!3d37.87033949873388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c265dd800a1%3A0x49b5267030c6cd3b!2sDwinelle+Annex%2C+Berkeley%2C+CA+94704!5e0!3m2!1sen!2sus!4v1524204341242" width="275" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


{% if confirm %}
<div id="description">
	You have successfully claimed your ticket. Enjoy the arts experience!
</div>
{% else %}
<div id="page-title">Confirmation Code</div>
<div id="description">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="back-button"><button type="submit">Submit</button></div>
</form>
</div>
<div id="back-button"><a href="{% url 'reserve_delete' pk=event.pk %}">Cancel Reservation</a></div>
{% endif %}


<div id="back-button"><a href="{% url 'home' %}">Home</a></div>

{% endblock %}
